<ons-page id="home">

  <!-- <ons-list>
   <ons-list-header>Default</ons-list-header>
    <ons-list-item>Item A</ons-list-item>
    <ons-list-item>Item B</ons-list-item>
  
  </ons-list> -->

  
<div class="consoles">
        <h4>Consoles</h4>
        <ons-carousel auto-refresh swipeable overscrollable item-width="130px" class="consoles_home">
          <ons-carousel-item modifier="nodivider" id="playlist_1" class="games-home">
            <div class="thumbnail"><img class="list-item__thumbnail" src="" style="width:100px">
</div>
            <div class="games-home_title" id="playlist_1_name">Game 1</div>
          </ons-carousel-item>

          
          <ons-carousel-item modifier="nodivider" id="playlist_2" class="games-home">
            <div class="thumbnail"><img class="list-item__thumbnail" src="" style="width:100px">
</div>
            <div class="games-home_title" id="playlist_2_name">Game 2</div>
          </ons-carousel-item>
          <ons-carousel-item modifier="nodivider" id="playlist_3" class="games-home">
            <div class="thumbnail"><img class="list-item__thumbnail" src="" style="width:100px">
</div>
            <div class="games-home_title" id="playlist_3_name">Game 3</div>
          </ons-carousel-item>
          <ons-carousel-item modifier="nodivider" id="playlist_4" class="games-home">
            <div class="thumbnail"><img class="list-item__thumbnail" src="" style="width:100px">
</div>
            <div class="games-home_title" id="playlist_4_name">Game 4</div>
          </ons-carousel-item>
          <ons-carousel-item modifier="nodivider" id="playlist_5" class="games-home">
            <div class="thumbnail"><img class="list-item__thumbnail" src="" style="width:100px">
</div>
            <div class="games-home_title" id="playlist_5_name">Game 5</div>
          </ons-carousel-item>
                  <ons-carousel-item modifier="nodivider" id="playlist_5" class="games-home">
            <div class="thumbnail"><img class="list-item__thumbnail" src="" style="width:100px">
</div>
            <div class="games-home_title" id="playlist_5_name">Game 6</div>
          </ons-carousel-item>
                  <ons-carousel-item modifier="nodivider" id="playlist_5" class="games-home">
            <div class="thumbnail"><img class="list-item__thumbnail" src="" style="width:100px">
</div>
            <div class="games-home_title" id="playlist_5_name">Game 7</div>
          </ons-carousel-item>
        </ons-carousel>
      </div>
      <div class="consoles">
        <h4>Genre</h4>
        <ons-carousel auto-refresh swipeable overscrollable item-width="130px" class="consoles_home">
          <ons-carousel-item modifier="nodivider" id="playlist_1" class="games-home">
            <div class="thumbnail"><img class="list-item__thumbnail" src="" style="width:100px">
</div>
            <div class="games-home_title" id="playlist_1_name">Game 1</div>
          </ons-carousel-item>
          <ons-carousel-item modifier="nodivider" id="playlist_2" class="games-home">
            <div class="thumbnail"><img class="list-item__thumbnail" src="" style="width:100px">
</div>
            <div class="games-home_title" id="playlist_2_name">Game 2</div>
          </ons-carousel-item>
          <ons-carousel-item modifier="nodivider" id="playlist_3" class="games-home">
            <div class="thumbnail"><img class="list-item__thumbnail" src="" style="width:100px">
</div>
            <div class="games-home_title" id="playlist_3_name">Game 3</div>
          </ons-carousel-item>
          <ons-carousel-item modifier="nodivider" id="playlist_4" class="games-home">
            <div class="thumbnail"><img class="list-item__thumbnail" src="" style="width:100px">
</div>
            <div class="games-home_title" id="playlist_4_name">Game 4</div>
          </ons-carousel-item>
          <ons-carousel-item modifier="nodivider" id="playlist_5" class="games-home">
            <div class="thumbnail"><img class="list-item__thumbnail" src="" style="width:100px">
</div>
            <div class="games-home_title" id="playlist_5_name">Game 5</div>
          </ons-carousel-item>
                  <ons-carousel-item modifier="nodivider" id="playlist_5" class="games-home">
            <div class="thumbnail"><img class="list-item__thumbnail" src="" style="width:100px">
</div>
            <div class="games-home_title" id="playlist_5_name">Game 6</div>
          </ons-carousel-item>
                  <ons-carousel-item modifier="nodivider" id="playlist_5" class="games-home">
            <div class="thumbnail"><img class="list-item__thumbnail" src="" style="width:100px">
</div>
            <div class="games-home_title" id="playlist_5_name">Game 7</div>
          </ons-carousel-item>
        </ons-carousel>
      </div>
      <div class="consoles">
        <h4>Trending</h4>
        <ons-carousel auto-refresh swipeable overscrollable item-width="130px" class="consoles_home">
          <ons-carousel-item modifier="nodivider" id="playlist_1" class="games-home">
            <div class="thumbnail"><img class="list-item__thumbnail" src="" style="width:100px">
</div>
            <div class="games-home_title" id="playlist_1_name">Game 1</div>
          </ons-carousel-item>
          <ons-carousel-item modifier="nodivider" id="playlist_2" class="games-home">
            <div class="thumbnail"><img class="list-item__thumbnail" src="" style="width:100px">
</div>
            <div class="games-home_title" id="playlist_2_name">Game 2</div>
          </ons-carousel-item>
          <ons-carousel-item modifier="nodivider" id="playlist_3" class="games-home">
            <div class="thumbnail"><img class="list-item__thumbnail" src="" style="width:100px">
</div>
            <div class="games-home_title" id="playlist_3_name">Game 3</div>
          </ons-carousel-item>
          <ons-carousel-item modifier="nodivider" id="playlist_4" class="games-home">
            <div class="thumbnail"><img class="list-item__thumbnail" src="" style="width:100px">
</div>
            <div class="games-home_title" id="playlist_4_name">Game 4</div>
          </ons-carousel-item>
          <ons-carousel-item modifier="nodivider" id="playlist_5" class="games-home">
            <div class="thumbnail"><img class="list-item__thumbnail" src="" style="width:100px">
</div>
            <div class="games-home_title" id="playlist_5_name">Game 5</div>
          </ons-carousel-item>
                  <ons-carousel-item modifier="nodivider" id="playlist_5" class="games-home">
            <div class="thumbnail"><img class="list-item__thumbnail" src="" style="width:100px">
</div>
            <div class="games-home_title" id="playlist_5_name">Game 6</div>
          </ons-carousel-item>
                  <ons-carousel-item modifier="nodivider" id="playlist_5" class="games-home">
            <div class="thumbnail"><img class="list-item__thumbnail" src="" style="width:100px">
</div>
            <div class="games-home_title" id="playlist_5_name">Game 7</div>
          </ons-carousel-item>
        </ons-carousel>
      </div>
      <div class="consoles">
        <h4>blablabla</h4>
        <ons-carousel auto-refresh swipeable overscrollable item-width="130px" class="consoles_home">
          <ons-carousel-item modifier="nodivider" id="playlist_1" class="games-home">
            <div class="thumbnail"><img class="list-item__thumbnail" src="" style="width:100px">
</div>
            <div class="games-home_title" id="playlist_1_name">Game 1</div>
          </ons-carousel-item>
          <ons-carousel-item modifier="nodivider" id="playlist_2" class="games-home">
            <div class="thumbnail"><img class="list-item__thumbnail" src="" style="width:100px">
</div>
            <div class="games-home_title" id="playlist_2_name">Game 2</div>
          </ons-carousel-item>
          <ons-carousel-item modifier="nodivider" id="playlist_3" class="games-home">
            <div class="thumbnail"><img class="list-item__thumbnail" src="" style="width:100px">
</div>
            <div class="games-home_title" id="playlist_3_name">Game 3</div>
          </ons-carousel-item>
          <ons-carousel-item modifier="nodivider" id="playlist_4" class="games-home">
            <div class="thumbnail"><img class="list-item__thumbnail" src="" style="width:100px">
</div>
            <div class="games-home_title" id="playlist_4_name">Game 4</div>
          </ons-carousel-item>
          <ons-carousel-item modifier="nodivider" id="playlist_5" class="games-home">
            <div class="thumbnail"><img class="list-item__thumbnail" src="" style="width:100px">
</div>
            <div class="games-home_title" id="playlist_5_name">Game 5</div>
          </ons-carousel-item>
                  <ons-carousel-item modifier="nodivider" id="playlist_5" class="games-home">
            <div class="thumbnail"><img class="list-item__thumbnail" src="" style="width:100px">
</div>
            <div class="games-home_title" id="playlist_5_name">Game 6</div>
          </ons-carousel-item>
                  <ons-carousel-item modifier="nodivider" id="playlist_5" class="games-home">
            <div class="thumbnail"><img class="list-item__thumbnail" src="" style="width:100px">
</div>
            <div class="games-home_title" id="playlist_5_name">Game 7</div>
          </ons-carousel-item>
        </ons-carousel>
      </div>
    <!-- <ons-toolbar>
      <div class="left"><ons-back-button>home</ons-back-button></div>
      <div class="center"></div>
    </ons-toolbar> -->
  


</ons-page>


