<ons-page id="profile">

	<p>
		<ons-input id="user" modifier="underbar" type="text" placeholder="Username" value="user1" float></ons-input>
	</p>
	<p>
		<ons-input id="email" modifier="underbar" type="text" placeholder="Email" float></ons-input>
	</p>

	<p>
		<ons-input id="pss" modifier="underbar" placeholder="Password" type="text" float></ons-input>
	</p>
	<p>
		<ons-input id="cnf_pss" modifier="underbar" type="text" placeholder="Confirm Password" float></ons-input>
	</p>

	<ons-button onclick="register()">Continue</ons-button>




</ons-page>
